@import "vazirmatn.css";
@import "public-sans.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-base font-normal text-[15px] leading-[20.6px];
    }

    h4 {
        @apply text-[24px] font-medium;
    }

    input:focus {
        outline: none;
    }
}

.public-sans {
    font-family: PublicSans, serif;
}

.vazirmatn {
    font-family: Vazirmatn, serif;
}