@import "vazirmatn.css";
@import "public-sans.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-base font-normal text-[15px] leading-[20.6px];
    }

    h4 {
        @apply text-[24px] font-medium;
    }

    input:focus {
        outline: none;
    }

    .base-shadow {
        box-shadow: 0 .125rem .5rem 0 rgba(47, 43, 61, .12);
    }
}

.public-sans {
    font-family: PublicSans, serif;
}

.vazirmatn {
    font-family: Vazirmatn, serif;
}